@import "tailwindcss";

@theme {
  --color-background: #EFDFCB;
  --color-card: #FFFFFF;
  --color-text-primary: #742B00;
  --color-text-secondary: #000000;
  --color-success : #00B52A; 
  --color-warning : #E87000;
  --color-highlight : rgba(116, 43, 0, 0.14);
  --color-border: #E5E7EB;
}

:root {
  background-color: #EFDFCB;
}